#
# - review file and adjust settings
# - rename this file to "config.dat"
# - format is key<tab>value
# - no empty lines, comments start with ; or #
#
#
# required, url to a whatsup server/service
service	https://a_whatsup_server/whatsup/
#
# optional, hostname will be used
host	this_computer_name
#
# required, auth key to add service
auth	some_secret_message
#
# used by "tixati", url to "info page"
tixati_url	http://user:pass@localhost:19300/help
#
# used by the dht22 temp/humidity reader
dht22_bin	/usr/local/bin/loldht
# or
#dht22_bin	/usr/local/bin/dht22
dht22_pin	7
dht22_name	outdoors
#
# wemo insight read out, use id for different wemos
wemo#id ip
