#
# - review file and adjust settings
# - rename this file to "config.dat"
# - format is key<tab>value
# - no empty lines, comments start with ; or #
#
#
# required, url to a whatsup server/service
service	https://a_whatsup_server/whatsup/
#
# optional, hostname will be used
host	this_computer_name
#
# required, auth key to add service
auth	some_secret_message
